---
layout: page
title: "About"
description: "Mingjieです"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0"> Chinese </option>
    <option value="1" selected> English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        学习天文的人；喜欢打游戏。
    </blockquote>
    伝えたい<br>
    上手くなりたい<br>
    特別になりたい<br>
    何度だって　息を吹き込む<br>
    目指すのは　自分史上最高　輝くメロディ<br>
     もっと　もっと　遠くへ

    <p style="text-align:right;">
        —— TRUE 「サウンドスケープ」
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Diving into Astronomy.
    </blockquote>
  <p>
    2016-now  Master student       University of Tokyo
    2012-2016 Bachelor (Astronomy) Beijing Normal University
	<p>
	Published paper:<br>
		<a href="http://adsabs.harvard.edu/abs/2017AJ....153....5J"> 2017AJ....153....5J </a>
	</p>

    <p>
        There is a doctrine well known to philosophers that the moon ceases to exist when no one is looking at it. I will not discuss the doctrine since I have not the least idea what is the meaning of the word existence when used in this connection. At any rate the science of astronomy has not been based on this spasmodic kind of moon. In the scientific world (which has to fulfill functions less vague than merely existing) there is a moon which appeared on the scene before the astronomer; it reflects sunlight when no one sees it; it has mass when no one is measuring the mass; it is distant 240,000 miles from the earth when no one is surveying the distance; and it will eclipse the sun in 1999 even if the human race has succeeded in killing itself off before that date.
    </p>

    <p style="text-align:right;">
    --  Eddington, The Nature of the Physical World, 226
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
