<center>
    <i>Diving into Astronomy. </i>
</center>
<p>
<h4> Education </h4>
<table>
  <tr align="middle" vertical-align="baseline">
    <td> PhD student </td> <td> Department of Astronomy, University of Tokyo<br> (Supervisor: Noriyuki Matsunaga) </td> <td> 2018 - present </td>
  </tr>
  <tr align="middle" vertical-align="baseline">
    <td> Master </td> <td> Department of Astronomy, University of Tokyo<br> (Supervisor: Noriyuki Matsunaga) </td> <td> 2016 - 2018 </td>
  </tr>
  <tr align="middle">
    <td> Bachelor </td> <td> Department of Astronomy, Beijing Normal Univsersity<br> (Supervisor: Biwei Jiang) </td> <td> 2012 - 2016 </td>
</table>
</p>

<p>
<h4> Research Interest </h4>
Stellar helium abundance and its evolution in galactic archaeology.
</p>

<p>
<h4> Refereed Publication </h4>

<b>Jian, M.</b>;Taniguchi, D.; Matsunaga, N.; Kobayashi, N.; Ikeda, Y.; ...; The effect of surface gravity on line-depth ratios in the wavelength range 0.97-1.32 µm. <a href="http://adsabs.harvard.edu/abs/2020MNRAS.494.1724J"> <i>Monthly Notices of the Royal Astronomical Society</i> <b>494</b>, 1724J (2020) </a>.<br>

Matsunaga, N.; Taniguchi, D.; <b>Jian, M.</b>; Ikeda, Y.; Fukue, K.; ...; Identification of Absorption Lines of Heavy Metals in the Wavelength Range 0.97–1.32 μm. <a href="http://adsabs.harvard.edu/abs/2020ApJS..246...10M"> <i>The Astrophysical Journal Supplement Series</i> <b>246</b>, 10M (2020) </a>.<br>

Deng, D.; Sun, Y.; <b>Jian, M.</b>; Jiang, B.; Yuan, H.; Intrinsic Color Indices of Early-type Dwarf Stars. <a href="http://adsabs.harvard.edu/abs/2020AJ....159..208D"> <i>The Astrophysical Journal</i> <b>459</b>, 208D (2020) </a>.<br>

<b>Jian, M.</b>; Matsunaga, N.; Fukue, K.; The metallicity effect on line-depth ratios in APOGEE H-band spectra. <a href="http://adsabs.harvard.edu/abs/2019MNRAS.485.1310J"> <i>Monthly Notices of the Royal Astronomical Society</i> <b>485</b>, 1310J (2019) </a>.<br>

Sun, Mingxu; Jiang, B. W.; Zhao, He; Gao, Jian; Gao, Shuang; <b>Jian, Mingjie</b>; Yuan, Haibo; The Ultraviolet Extinction in the  GALEX  Bands. <a href="http://adsabs.harvard.edu/abs/2018ApJ...861..153S"> <i>The Astrophysical Journal</i> <b>861</b>, 153S (2018) </a>.<br>

<b>Jian, M.</b>; Gao, S.; Zhao, H.; & Jiang, B. W.; Revision of Stellar Intrinsic Colors in the Infrared by Spectroscopic Surveys. <a href="http://adsabs.harvard.edu/abs/2017AJ....153....5J"> <i>The Astronomical Journal</i> <b>153</b>, 5 (2017) </a>.
</p>

<p>
<h4> Conference </h4>
<ul>
<li> <a href="http://kiaa.pku.edu.cn/conference/stellar-populations-and-distance-scale-conference-honour-jeremy-mould"> Stellar Populations and the Distance Scale</a>  (a conference in honour of Jeremy Mould)  </li>
<i>11-15 September 2017</i><br>
<a href="/img/about/1709bjposter.pdf" > Poster </a>

<li> <a href="http://astro-wakate.org/ss2017/web/index.html"> 2017年度 第47回　天文・天体物理若手夏の学校 </a> </li>
<i> 25-28 July, 2017 </i><br>
<a href="http://www.astro-wakate.sakura.ne.jp/ss2017/web/file/abst/ss17_abst_sun.pdf"> Abstract (page 6)</a>
</ul>
</p>

<p>
<h4> Reward </h4>
2021 Japan Society for the Promotion of Science <a href="https://www.jsps.go.jp/j-pd/index.html">Research Fellowship for Young Scientists</a> DC2 
</p>

<p>
<h4> Obsrervation </h4>
<ul>
  <li>Proposal 2020A103 and 2020B108 on IRTF</li>
  <i>7-10 August, 2020</i><br>
  PI: <b>Mingjie Jian</b>; CoI: Noriyuki Matsunaga, Alan Tokunaga, Naoto Kobayashi, Daisuke Taniguchi, ...

  <li>Proposal 0100.D-0852 on New Technology Telescope, European Southern Observatory</li>
  <i>1-5 December, 2017</i><br>
  PI: Noriyuki Matsunaga; CoI: <b>Mingjie Jian</b>, Fukue Kei, Daisuke Taniguchi, Scarlet Saez Elgueta, ...
</ul>
</p>

<p>
<h4> Research note </h4>
<a href="https://mk-cookbook.readthedocs.io/en/latest/">MK-cookbook</a>: the READTHEDOCS notebook for my research.
</p>

<p>
<h4> Github project </h4>
<a href="https://github.com/MingjieJian/ir_ldr">ir_ldr</a>: a python3 code for measuring the spectral line depth of the APOGEE and WINERED spectra, calculating the line depth ratio (LDR) and finally deriving the effective temperature (T_LDR).<br>
<a href="https://github.com/MingjieJian/pymoog">pymoog</a>: a python3 wrapper for running the LTE spectrum synthesis part of the code MOOG.<br>
</p>

<p>
<h4> Astronomical Outreach </h4>
Teacher of Astronomical club on Affiliated Middle School of Beijing Jiaotong University (2015.9 - 2016.9)

</p>
<p>
  <blockquote>
    There is a doctrine well known to philosophers that the moon ceases to exist when no one is looking at it. I will not discuss the doctrine since I have not the least idea what is the meaning of the word existence when used in this connection. At any rate the science of astronomy has not been based on this spasmodic kind of moon. In the scientific world (which has to fulfill functions less vague than merely existing) there is a moon which appeared on the scene before the astronomer; it reflects sunlight when no one sees it; it has mass when no one is measuring the mass; it is distant 240,000 miles from the earth when no one is surveying the distance; and it will eclipse the sun in 1999 even if the human race has succeeded in killing itself off before that date.
  </blockquote>
</p>

<p style="text-align:right;">
--  Eddington, The Nature of the Physical World, 226
</p>